NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WEBSOCKET_URL=
NEXT_PUBLIC_TG_BOT_NAME=
NEXT_PUBLIC_TRONGRID_API_KEY=
NEXT_PUBLIC_INFURA_API_KEY=
NEXT_PUBLIC_RAINBOWKIT_APP_NAME=
NEXT_PUBLIC_RAINBOWKIT_PROJECT_ID=
DOCS_FILE_URL=